* html .ui-multiselect-checkboxes label { border:none }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.keal-select-wrapper p {
  margin: 0;
  padding: 0;
}
.keal-select-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: auto;
  max-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.keal-select-wrapper .keal-select-btn {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0 2.2em 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #D0D0D0;
  background: transparent;
  line-height: 28px;
  font-size: 12px;
  color: #797979;
  font-weight: normal;
  text-align: left;
  margin: 0;
}
.keal-select-wrapper .keal-select-btn span {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.keal-select-wrapper .keal-select-btn::after,
.keal-select-wrapper .keal-select-btn.keal-select-btn-active::after{
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.keal-select-wrapper .keal-select-btn::after {
  content: '\25BE';
  right: .8em;
  -webkit-transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 50%;
}
.keal-select-wrapper .keal-select-btn.keal-select-btn-active::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.keal-select-wrapper .keal-select-menu {
  position:absolute;
  z-index:10000;
  top: 0;
  left: 0;
  display:none;
  /* padding:6px 0;  */
  text-align: left;
  border: 1px solid #D0D0D0;
  border-top: none;
  overflow: hidden;
  background: #fff;
}
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 218px;
  overflow: auto;
}
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #666;
  border-bottom: 1px #f5f5f5 solid;
}
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item.disabled,
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item.disabled:hover {
  pointer-events: none;
  cursor: inherit;
  background-color: inherit;
  color: inherit;
}
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item.disabled * {
  opacity: 0.4;
}

.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item:hover{
  background: #19a9d5;
  color: #fff;
}
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item.ks-menu-item-active{
  background: #5bceeb;
  color: #fff;
}
.keal-select-wrapper .keal-select-menu .ks-menu-items-wrap .ks-menu-item .ks-menu-item-text,
.keal-select-wrapper .keal-select-menu .ks-menu-header,
.keal-select-wrapper .keal-select-menu .ks-menu-footer {
  position: relative;
  display: block;
  padding: 0 .5em;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.keal-select-wrapper .keal-select-menu .ks-menu-header {
  color: #797979;
  padding: 0 0;
  border-bottom: 1px solid #e6e6e6;
}
.keal-select-wrapper .keal-select-menu .ks-menu-footer {
  border-top: 1px solid #D0D0D0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  background: #fff;
  font-size: 0;
}
.keal-select-wrapper .keal-select-menu .ks-menu-footer a {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 12px;
  text-align: center;
  color: #797979;
  text-decoration: none;
  border-right: 1px solid #D0D0D0;
}
.keal-select-wrapper .keal-select-menu .ks-menu-footer a:hover {
  background: #f5f5f5;
}
.keal-select-wrapper .keal-select-menu .ks-menu-footer .last {
  border: none;
}
/* ks multi */
.ks-wrapper-multi .keal-select-menu .ks-menu-header .ks-select-all {
  position: relative;
  padding-left: 2.5em;
  display: inline-block;
  cursor: pointer;
}
.ks-wrapper-multi .keal-select-menu .ks-menu-header .ks-oprates {
  float: right;
}
.ks-wrapper-multi .keal-select-menu .ks-menu-header .ks-oprates a {
  margin-right: .8em;
  color: #797979;
  text-decoration: none;
}
.ks-wrapper-multi .keal-select-menu .ks-menu-header .ks-oprates a:hover {
  color: #666;
  text-decoration: underline;
}
.ks-wrapper-multi .keal-select-menu .ks-menu-items-wrap .ks-menu-item .ks-menu-item-text {
  padding-left: 2.5em;
}
.ks-wrapper-multi .keal-select-menu .ks-menu-items-wrap .ks-menu-item .ks-menu-item-text .item-icon-cb,
.ks-wrapper-multi .keal-select-menu .ks-menu-header .ks-select-all i {
  position: absolute;
  top: 6px;
  left: 6px;
  display: block;
  height: 14px;
  width: 14px;
  border: 1px solid #aeaeae;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 2px;
}

.ks-wrapper-multi .keal-select-menu .ks-menu-items-wrap .ks-menu-item-active .ks-menu-item-text .item-icon-cb,
.ks-wrapper-multi .keal-select-menu .ks-menu-header .ks-select-all-active i {
  box-shadow: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
  background-color: rgb(17, 169, 17);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}